header {
  background: url('assets/images/bg1.png');
  text-align: center;
  margin: auto;
  width: 100%;
  height: 650px;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;  /* paralax effect*/
  background-position: center;
  position: relative;
  border-radius: 0 0 85% 85% / 30%;
  margin-bottom: 100px;
}

header img {
  top: 0;
}

h1{
  font-family: 'Orbitron', sans-serif;
  font-size: 3em;
  color: #8a5205;
  margin-top: 0;
  padding-top: 5%;
}

.secondhead{
  position: center;
  font-family: 'Lalezar', cursive;
  color: black;
  font-size: 25px;
}

body {
  background-image: url('assets/images/bg2.jpg');
  margin: 0;
  padding: 0;
  background-attachment: fixed;
  background-position: fixed; 
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
  overflow-y: scroll;
  min-width: 100vw;
  width: 100%;
}

.chap-heading{
  display: block;
  background: #000000;
  color: #8a5205;
  font-family: 'Orbitron', sans-serif;
  font-size: 1.1em;
  width: 100%;
  padding-top: 5%;
  padding-bottom: 5%;
  text-align: center;
  margin-top: 100px;
}

.narrative {
  display: block;
  background: #000000;
  color: #8a5205;
  font-family: 'Orbitron', sans-serif;
  font-size: 1.1em;
  width: 100%;
  padding-top: 5%;
  padding-bottom: 5%;
  text-align: center;
  margin-top: 100px;
}

p{
  display: inline-block;
  text-align: center;
  width: 80%;
}

.instructions{
  display: block;
  background: #289fe3;
  color: #e8e0d5;
  font-size: 1.1em;
  width: 60%;
  padding: 1%;
  text-align: center;
  margin: auto;
}

#chap5bg{
  left: 0;
  width: 1290px;
  text-align: center;
}

.tape-player * {
  transition: ease all 0.3s;
  user-select: none;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  
}

.tape-player {
  background:  #BEC2CB;
  width: 87%;
  height: calc(63px * 3);
  border-radius: 30px;
  position:  relative;
  top: 12%;
  left: 7%;

}
.tape-player-back {
  width: 460px;
  height: calc(63px * 4);
  border-radius: 15px;
  position: relative;
  transition: ease all 0.1s;
  cursor: pointer;
  background-color: #6c6c70;
  margin: auto;
  margin-top: 100px;
}


mark { 
  background-color: white;
  color: black;
}


.left-reel {
  width: 140px;
  height: 140px;
  background: white;
  position: relative;
  top: 11%;
  left: 5%;
  border-radius: 50%;
  box-shadow: 0 0 10px 3px #333;
  animation: rotating 2s linear infinite;
  animation-play-state: paused;
  border: 2px solid transparent;
}

.right-reel {
  border-radius: 50%;
  height: 140px;
  width: 140px;
  background: white;
  position: absolute;
  right: 20px;
  top: 20px;
  box-shadow: 0 0 20px 3px #333;
  animation: rotating 2s linear infinite;
  animation-play-state: paused;
  border: 2px solid transparent;
}

.tape-player .buttons {
  position: absolute;
  top: -15px;
  left: 10px;
  height: 15px;
  z-index: -1;
}

.tape-player .hole {
  position: absolute;
  top: calc(50% - 14px);
  left: calc(50% - 14px);
  height: 28px;
  width: 28px;
  background: #333;
  clip-path: polygon(0% 0%, 100% 0%, 82% 100%, 18% 100%);
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 82% 100%, 18% 100%);
  transform: translateY(-37px);
}

.tape-player .hole.two {
  transform: rotateZ(120deg) translateY(-37px);
}

.tape-player .hole.three {
  transform: rotateZ(240deg) translateY(-37px);
}

.tape-player .middle-hole {
  width: 30px;
  height: 30px;
  background: #333;
  top: calc(50% - 15px);
  left: calc(50% - 15px);
  position: absolute;
  border-radius: 50%;
  border: 3px solid #555;
  box-sizing: border-box;
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.tape-player .circle {
  position: absolute;
  width: 10px;
  height: 10px;
  background: #333;
  left: calc(50% - 5px);
  top: calc(50% - 5px);
  border-radius: 50%;
  border: 1px solid #666;
  box-sizing: border-box;
  transform: translateY(25px);
}


.tape-player.playing > .left-reel, .tape-player.playing > .right-reel {
  animation-play-state: running;
}


.vu-meter {
  background: white;
  width: 60px;
  height: 38px;
  top: 25px;
  left: 30px;
  position: absolute;
  border-radius: 3px;
  box-shadow: 0 0 4px inset;
}



.tape-top {
  position: absolute;
  top: 19px;
  left: 85px;
  width: 230px;
  height: 2px;
    z-index: 0;
  display: none;
background-color: #6c6c70;

}

.tape-player.has-tape > .left-reel, .tape-player.has-tape > .right-reel {
  border: 2px solid #333;
  z-index: 2;
}

.tape-bottom {
  position: absolute;
  bottom: 23.5px;
  left: 85px;
  width: 230px;
  height: 2px;
  background: #333;
  z-index: 0;
  display: none;
}

.tape-player.has-tape > .tape-top, .tape-player.has-tape > .tape-bottom {
  display: inherit;
}

.audio-player {
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-width: 30vw;
}

audio {
  margin: 0 auto; 
  display: block;
}

.arrow {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: -500px;
  position: absolute;
}

.arrow span {
    display: block;
    width: 30px;
    height: 30px;
    border-bottom: 5px solid black;
    border-right: 5px solid black;
    transform: rotate(45deg);
    margin: -15px;
    animation: scroll1 2s infinite;
}

.arrow span:nth-child(2) {
    animation-delay: -.2s;
}

.arrow span:nth-child(3) {
    animation-delay: -.4s;
}

@keyframes scroll1 {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-20px, -20px);
    }
    50% {
        opacity: 1;

    }
    100% {
        opacity: 0;
        transform: rotate(45deg) translate(-20px, -20px);
    }
}

#footer{
  padding-top: 1%;
  padding-bottom: 1%;
  text-align: center;
  font-size: 1.4em;
  width: 100%;
  background-color: #222222;
  color: #ffffff;
  margin-top: 100px;
}